body{
    background-color: rgb(213, 215, 255);
    color: rgb(10, 84, 148);
}
/* p1{
    color: white;
} */
body>div{
    background-color: rgb(10, 84, 148);
    color: white;
}

/* h1~h1{
    color: white
} */
 p::first-letter{
    color: white;
    font-size: 200%;
 }
 p::first-line{
    color: white;
    font-size: 150%;
 }
 p::after{
    content: "🫡🫡";
     font-size: 100%;
    
 }

 ul li::marker{
    color: white;
    font-size: 150%;
 }
 p::selection{
    color: white;
    background-color: rgb(10, 84, 148);
 }
 p:hover{
    color: white;
    background-color: rgb(232, 47, 155);
 }
 a:hover{
    color: white;
    background-color: rgb(232, 47, 155);
 }
 a:active{
    color: white;
    background-color: green;
 }
 a:visited{
    color: grey;
    
 }