body{
    border-radius: 15px;
}

#parent{
    height: 100vh;
    width: 100%;
    background-color: rgb(151, 203, 223);
    border: solid ;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeatcolumn,1fr);
    /* justify-content:space-evenly;
    align-items:end; */
    border-radius: 15px;
    
  }


.cont{
    background-color: rgb(77, 90, 118);
    margin: 5px;
    border-radius: 15px;
    
}
.c1{
    grid-column-start: 1;
    grid-column-end: 13;
}
.c2{
    grid-column-start: 1;
    grid-column-end: 7;
}
.c3{
    grid-column-start: 7;
    grid-column-end: 13;
}
.c4{
    grid-column-start: 1;
    grid-column-end: 5;
}
.c5{
    grid-column-start: 5;
    grid-column-end: 9;
}
.c6{
    grid-column-start: 9;
    grid-column-end: 13;
}
.c7{
    grid-column-start: 1;
    grid-column-end: 4;
}
.c8{
    grid-column-start: 4;
    grid-column-end: 7;
}
.c9{
    grid-column-start: 7;
    grid-column-end: 10;
}
.c10{
    grid-column-start: 10;
    grid-column-end: 13;
}
.c11{
    grid-column-start: 1;
    grid-column-end: 3;
}
.c12{
    grid-column-start: 3;
    grid-column-end: 5;
}
.c13{
    grid-column-start: 5;
    grid-column-end: 7;
}
.c14{
    grid-column-start: 7;
    grid-column-end: 9;
}
.c15{
    grid-column-start: 9;
    grid-column-end: 11;
}
.c16{
    grid-column-start: 11;
    grid-column-end: 13;
}